@tailwind base;
@tailwind components;
@tailwind utilities;

.noto-sans-450 {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.saira-semi-condensed-bold {
  font-family: "Saira Semi Condensed" ;
  font-weight: 600;
  font-style: normal;
}

::selection {
  background-color: #373737;
  color: #FFFFFF;
}

::-moz-selection {
  background-color: #373737;
  color: #FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  

/* width */
.customScrollBar::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
.customScrollBar::-webkit-scrollbar-track {
    background:"#E6E6E6";
}

/* Handle */
.customScrollBar::-webkit-scrollbar-thumb {
    background: #2C2C2C;
    border-radius:4px;
}


.text-gradiant {
  background: linear-gradient(to right, #000000, #303030);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text-gradiant ::selection {
  -webkit-text-fill-color: #FFFFFF;
  background: "#FFFFFF";
  -webkit-background-clip: text;
}

.text-gradiant-dark {
  background: linear-gradient(to right, #FFFFFF, #DADADA);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text-gradiant-dark ::selection {
  -webkit-text-fill-color: #000000;
  background: "#000000";
  -webkit-background-clip: text;
}

@keyframes appear {
  from{
    opacity:0.2;
  }
  to{
    opacity:1;
  }
}

@keyframes leftAppear {
  from{
    opacity:0.2;
    transform: translateX(-5vw) translateY(100px);
  }
  to{
    opacity:1;
    transform: translateX(0);
  }
}

@keyframes rightAppear {
  from{
    opacity:0.2;
    transform: translateX(5vw) translateY(100px);
  }
  to{
    opacity:1;
    transform: translateX(0);
  }
}


.animate-appear {
  animation: appear 300ms linear;  
}

.animate-appear-title {
  animation: appear 300ms linear;  
  animation-timeline: view();
  animation-range: entry 0% cover 38%;
}

.animate-left {
  animation: leftAppear 1s linear;  
  animation-timeline: view();
  animation-range: entry 0% cover 38%;
}

.animate-right {
  animation: rightAppear 1s linear;  
  animation-timeline: view();
  animation-range: entry 0% cover 38%;
}